<html ng-app="genkouyoushi">

<head>
	<title>原稿用紙</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
	<script src="./script.js"></script>
</head>

<body ng-controller="MyCtrl" ng-init="text='ここにテキストを入れると原稿が出てきます。Romajiにも対応しています。'">

	<h1 align="center">原稿用紙</h1>

	<textarea type="text" ng-model="text"></textarea>

	<section>
		<table>
			<tr ng-repeat="subtext in formattedText track by $index">
				<td ng-repeat="c in subtext track by $index">
					{{c}}
				</td>
				<td> {{($index + 1) * 20}} </td>
			</tr>
		</table>

		<div id="total" ng-show="text.length > 0">
			<p>{{masuCount}} / {{formattedText.length * 20}} マス</p>
			<p>{{charCount}} 文字</p>

		</div>
		<span id="hint" ng-show="text.length == 0">テキストを入れてください</span>
	</section>

	<footer>
		<div>
			<span>© 2017 Created by Stealthmate</span>
			<a href="https://github.com/stealthmate/genkouyoushi" target="_blank"><img src="./github.png" alt="Github link"></img></a>
		</div>
	</footer>
</body>

</html>
