:root {
    --box-size: 1.7em;
}

td {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: var(--box-size);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: var(--box-size);
    text-align: center;
    font-size: calc(var(--box-size) * 0.95);
}

textarea {
    width: calc(var(--box-size) * 40);
    margin: auto;
    align-self: center;
    height: calc(var(--box-size) * 5);
    margin-bottom: calc(var(--box-size) * 2);
}

h1 {
    color: #77AAFF
}

td:last-child {
    border: none;
    font-size: 1em;
    vertical-align: bottom;
    line-height: normal;
    display: table-cell;
    padding-left: 0.5em;
    user-select: none;
}

table {
    table-layout: fixed;
    width: calc(var(--box-size) * 20);
    border-collapse: collapse;
    padding: 0px 0px 0px 0px;
    overflow: scroll;
}
