:root {
    --box-size: 40pt;
    --font-size: 20pt;
}

div {
    width: calc(var(--box-size) * 20);
    position: absolute;
    left: 10pt;
    padding: 0px 0px 0px 0px;
}

#total {
    display: block;
    margin-top: 0.5em;
    font-size: 1.5em;
    position: absolute;
    right: var(--box-size);
}

td {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: var(--box-size);
    height: var(--box-size);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-size: var(--font-size);
}

textarea {
    width: calc(var(--box-size) * 19);
    margin: auto;
    margin-left: 5pt;
    align-self: center;
    height: calc(var(--box-size) * 5);
    margin-bottom: calc(var(--box-size) * 2);
}

h1 {
    color: #77AAFF
}

td:last-child {
    border: none;
    font-size: 1em;
    vertical-align: bottom;
    line-height: normal;
    display: table-cell;
    padding-left: 0.5em;
    user-select: none;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    padding: 0px 0px 0px 0px;
}
